html,
body {
  background: linear-gradient(110deg, #b52929 50%, #01094d 50%);
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.905);
  font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(194, 240, 244);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* date */

#date {
  font-family: monospace;
  font-size: 50px;
  float: right;
  color: rgb(178, 177, 177);
}

/*moving animation for the second title q*/
h1 {
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}
.pic1 {
  width: 20%;
  display: flex;
  height: 10%;
  padding-left: 80%;
}

.Helloeveryone {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90px;
  padding: 0px;

  float: inline-end;
}

.Helloeveryone-1 {
  font-size: 100px;
}

.activites {
  border: 5px solid;
  background-color: rgb(92, 103, 33);
  padding: 1rem;
  margin: 0.25em;
}

.meetinPlace {
  border: 10px solid rgb(0, 129, 242);
  background-color: #554555;
}
.location {
  font: 400;
}
.boxLetter {
  font-size: 50px;
  color: aqua;
  background-color: #150202;
  text-align: center;
  margin: auto;
}
.img {
  align-items: center;
  width: 20%;
  height: 10%;
}
